{% load staticfiles %}

<html>

    <head>
        <title>Tushar Tripathi</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="page-header">

            <!--Adding button for posting new draft or publishing new post-->
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">
                    <abbr title="Add new post">
                        <span class="glyphicon glyphicon-plus"></span>
                    </abbr>
                </a>
                <!--Adding button for checking drafts.-->
                <a href="{% url 'post_draft_list' %}" class="top-menu">
                    <abbr title="See Drafts">
                        <span class="glyphicon glyphicon-edit"></span>
                    </abbr>
                </a>
                <!--Welcome user-->
                <p class="top-menu" style="font-size:20">
                    Hello {{ user.username }}
                    <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
                </p>
            {% else %}
                <!--Login option-->
                <a href="{% url 'login' %}" class="top-menu">
                    <span class="glyphicon glyphiconlock">login</span>
                </a>
            {% endif %}

            <h1><a href="/">Welcome to my Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>
