<html>
    <head>
        <title>Tushar Tripathi</title>
    </head>
    <body>
        <div>
            <h1><a href="">Welcome to my website</a></h1>
        </div>

        <div>
            <p>published: 07.07.2016, 7:25 PM</p>
            <h2><a href="">About me</a></h2>
            <p> Hi my name is Tushar Tripathi. I am a good boy. I am doing electrical engineering from BITS Pilani.</p>
            </div>

        <div>
            <p>published: 07.07.2016, 7:25 PM</p>
            <h2><a href="">A motivational quote</a></h2>
            <p>Sometimes it is the people who no one imagines anything of who do the things no one can imagine.</p>
        </div>
    </body>
</html>
