{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <p><h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1></p>
            <div class="date">
                {{ post.published_date }}
            </div>
            <!--Use 'linebreaksbr' to show full text instead of only first 400 characters-->
            <p style="display:inline">{{ post.text|truncatechars:400}}</p>
            {% if post.text|length > 400 %}
                <a href="{% url 'post_detail' pk=post.pk %}">(more)</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
